* {
  box-sizing: border-box;
}

:root {
  --bg: rgb(201, 185, 155);
  --bgChange: rgb(121, 114, 102);
  --txt: rgb(13,13,13);
	--hover: rgba(223, 217, 201, 0.5);
}

body {
	margin:0 1rem;
	background: var(--bg);
	color: var(--txt);
  font-family: 'libre franklin' sans-serif;
}

.noscroll {
  overflow: visible;
}

img {
	max-width: 100%;
	max-height: 90vh;
}

p {
	text-align: center;
}

a {
	color: var(--txt);
}

a:hover {
	color: var(--hover);
}

ol, ul {
	padding:0;
	margin:0;
	text-align: center;
}

#page {
	margin:0 auto;
	max-width: 90%;
}

.post {
	display:flex;
  height:100vh;
  margin-bottom: 4rem;
  /* background: red; */
  justify-content: center;
}

.post:last-child {
  margin-bottom: 1rem;
}

.post-content {
  align-self: center;
}

.post-content p {
  max-width: 900px;
}

.phrase {
	bottom:0;
	left:50%;
	transform:translateX(-50%);
	position:fixed;
	opacity:0;
	margin-bottom: 0;
	padding:.5rem;
	margin-left:-.5rem;
	border-radius: 12px;
	z-index: 1;
	pointer-events: none;
	transition:opacity .1s ease-in-out;
  line-height: 1.5rem;
}

.post-content:hover .phrase {
	opacity:1;
}

#footer {
	bottom:0;
	left:50%;
	width:100%;
	transform:translateX(-50%);
	position:fixed;
  border-top: .5px solid black;
  user-select: none;
  height: 2.6rem;
  -moz-user-select: none;
}

#name {
	position: absolute;
	left:5%;
	bottom:0;
  padding:.5rem;
  line-height: 1.5rem;
  width:3rem;
  text-align: center;
  font-size: 2rem;
}

#name:hover {
	background:var(--hover);
	cursor: pointer;
}

#top-btn {
	color: var(--txt);
	position: absolute;
	right:5%;
	bottom:0;
  padding:.5rem;
  line-height: 1.5rem;
  width:3rem;
  text-align: center;
  text-decoration: none;
  font-size: 1.3rem;
}

#top-btn a {
}

#top-btn:hover {
  background: var(--hover);
}

#about-wrap {
	position: fixed;
	background:var(--bgChange);
	width:100vw;
	height:100vh;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

#about {
	position: absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
}

.myname {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.1rem;
}

.closed {
	opacity:0;
	transition: opacity .2s ease-in-out;
	pointer-events: none;
}

.open {
	opacity: 1;
	pointer-events: all;
}

.bgNormal {
  transition: background .2s ease-in-out;
  background:var(--bg);
}

.bgChange {
  background:var(--bgChange);
}

.updatedShow {
  opacity:1;
}

@media (min-width:750px) {
	#footer {
	}

  #name {
    left:0;
  }

  #top-btn {
    right: 0;
  }
}
