body {
	margin:1rem;
	background:black;
	color:rgb(178,198,155);
}

img {
	max-width: 100%;
	max-height: 95vh;
}

p {
}

a {
	color: rgb(241,238,214);
	text-decoration: none;
}

.post {
	display:flex;
	flex-direction: column;
}

.post-content {
	/* background:green; */
	/* width:auto; */
	display: block;
	margin-bottom: 12rem;
	align-self: center;
	max-width:80%;
}

.post:first-child {
	margin-top: 4rem;
}
